   * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #111;
      color: white;
    }

    .container {
      display: flex;
      flex-direction: row;
    }

    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #000;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 1rem;
      z-index: 1000;
    }

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }

    nav a {
      color: white;
      margin-left: 1rem;
      text-decoration: none;
    }

    nav a:hover {
      color: rgb(117, 160, 209);
    }

    /* qside */

    .sidebar {
      margin-top: 70px;
      width: 80px;
      background-color: #222;
      border-left: 2px solid white;
      border-right: 2px solid white;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      min-height: calc(100vh - 70px);
    }

    .sidebar a {
      margin-top: 15px;
      color: white;
      text-align: center;
      font-size: 1.2rem;
      text-decoration: none;
    }

    

    .sidebar span {
      display: block;
      font-size: 0.7rem;
    }

    .sidebar img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-bottom: 0.5rem;
    }


  /*  Main 1st div */

   main{
    margin-left: 80px;
    margin-top: 70px;
    padding: 2rem;
    width: 100%;
   }

   main .text{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ccc;
    border: solid 3px #ffff;
    padding: 10px;
   }

   main .text h2{
    color: aqua;
    margin-bottom: 13px;
   }

   main #name{
    color: aqua;
   }

   main button{
    margin-top: 20px;
    padding: 8px;
   }



   /* 2nd div dans main */

   .stats{
    margin-top: 65px;
    border: solid 3px #ffff;
    padding: 10px;
   }

   .stats .cta-container{
    display: flex;
    justify-content: flex-end;
   }

   .stats h2{
    color: aqua;
    margin-bottom: 13px;
   }

   .stat-grid{
    display: flex;
    justify-content: space-between;
    padding: 40px;
   }

